.App {
  text-align: left;
}

.App header{
  background-color: #022143;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.50) inset;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.50) inset;
  -moz-box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.50) inset;

}

body, html {
  min-height: 100vh;
}

body {
  background-image: url("https://images.pexels.com/photos/172299/pexels-photo-172299.jpeg");
  background-size: cover;
}

a {
  color: white;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.css-mhc70k-MuiGrid-root {
  margin-top: 0 !important;
}

.app__navbar{
  border: solid black 1px;
  height: fit-content;
  box-shadow: 6px 5px 11px -4px rgba(0,0,0,0.83);
-webkit-box-shadow: 6px 5px 11px -4px rgba(0,0,0,0.83);
-moz-box-shadow: 6px 5px 11px -4px rgba(0,0,0,0.83);
background-color: whitesmoke;

  
}
.navbar__ul{
  list-style-type: none;
  
}
.navbar__ul--li{
  padding-bottom: 2rem;
  
}

.navbar__ul--li *{
  color: black;
  text-decoration: none;
  
}

.MuiImageListItem-img {
  overflow: hidden;
}

.Links {
  text-decoration: none;
  color: white !important
}