.Box__User{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
}

.User__Grid--container{
    
    width: 45%;
    background-color: rgba(169, 175, 175, 0.293);
    border-radius: 10px;
}

.Grid__User{
    padding: 2rem;

}

.Box__User--image{
    width: 4rem;
    height: 4rem;
}

.Form__tf {
    width: 100%;
}



